<div class="page" id="index-page">
    <header data-am-widget="header"
            class="am-header am-header-default">
        <div class="am-header-left am-header-nav">
            <a href="/" class="">
                <i class="am-header-icon am-icon-home"></i>
            </a>
        </div>
        <h1 class="am-header-title">
            <a href="#" class="">
                魔题库家长帮Demo
            </a>
        </h1>
    </header>
    <div class="main-container">
         <div class="banner">
            <ul>
                <li>
                    <img src="http://motkfile.oss-cn-hangzhou.aliyuncs.com/themead/2ed3547cb83e436c80d59624b6eb6499.jpg" />
                </li>
            </ul>
         </div>
        <div data-am-widget="list_news" class="am-list-news am-list-news-default" >
            <!--列表标题-->
            <div class="am-list-news-hd am-cf">
                <!--带更多链接-->
                <a href="##" class="">
                    <h2>关于孩子</h2>
                    <span class="am-list-news-more am-fr">更多 &raquo;</span>
                </a>
            </div>

            <div class="am-list-news-bd">
                <ul class="am-list">
                <% for(var i = 0; i< data.length; i++){ %>
                    <% var item = data[i]; %>
                    <li class="am-g am-list-item-dated">
                        <a href="##" class="am-list-item-hd ">标题：<%= item.title %></a>
                        <span class="am-list-date">2013-09-18</span>
                    </li>
                <% } %>
                </ul>
            </div>

        </div>
        <ul data-am-widget="gallery" class="am-gallery am-avg-sm-2
  am-avg-md-3 am-avg-lg-4 am-gallery-default" data-am-gallery="{ pureview: true }" >
            <li>
                <div class="am-gallery-item">
                    <a href="http://s.amazeui.org/media/i/demos/bing-1.jpg" class="">
                        <img src="http://s.amazeui.org/media/i/demos/bing-1.jpg"  alt="远方 有一个地方 那里种有我们的梦想"/>
                        <h3 class="am-gallery-title">远方 有一个地方 那里种有我们的梦想</h3>
                        <div class="am-gallery-desc">2375-09-26</div>
                    </a>
                </div>
            </li>
            <li>
                <div class="am-gallery-item">
                    <a href="http://s.amazeui.org/media/i/demos/bing-2.jpg" class="">
                        <img src="http://s.amazeui.org/media/i/demos/bing-2.jpg"  alt="某天 也许会相遇 相遇在这个好地方"/>
                        <h3 class="am-gallery-title">某天 也许会相遇 相遇在这个好地方</h3>
                        <div class="am-gallery-desc">2375-09-26</div>
                    </a>
                </div>
            </li>
            <li>
                <div class="am-gallery-item">
                    <a href="http://s.amazeui.org/media/i/demos/bing-3.jpg" class="">
                        <img src="http://s.amazeui.org/media/i/demos/bing-3.jpg"  alt="不要太担心 只因为我相信"/>
                        <h3 class="am-gallery-title">不要太担心 只因为我相信</h3>
                        <div class="am-gallery-desc">2375-09-26</div>
                    </a>
                </div>
            </li>
            <li>
                <div class="am-gallery-item">
                    <a href="http://s.amazeui.org/media/i/demos/bing-4.jpg" class="">
                        <img src="http://s.amazeui.org/media/i/demos/bing-4.jpg"  alt="终会走过这条遥远的道路"/>
                        <h3 class="am-gallery-title">终会走过这条遥远的道路</h3>
                        <div class="am-gallery-desc">2375-09-26</div>
                    </a>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="bottom-menu">
    <ul>
        <li><a href="/">我是首页</a></li>
        <li><a href="/Motk/other">我是分页</a></li>
        <li>分页1</li>
        <li>分页2</li>
        <li>分页3</li>
    </ul>
</div>
